.hero {
  max-width: 1200px;
  margin: 0 auto;

  padding: 80px 0 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 80px;
}


.hero__content {
  max-width: 650px;
}


.hero__title {
  font-size: 80px;
  line-height: 0.95;
  font-weight: 700;

  margin: 0 0 25px;
}


.hero__subtitle {
  font-size: 28px;
  color: #999;

  margin: 0 0 35px;
}


.hero__description {
  font-size: 22px;
  line-height: 1.6;

  color: #b5b5b5;

  margin: 0 0 40px;
}


/* BOTONES DEL HERO */

.hero__buttons {
  display: flex;

  gap: 50px;

  align-items: center;
}


.hero__button {

  color: white;

  font-size: 22px;

  font-weight: 600;

  text-decoration: none;

  position: relative;

  padding-bottom: 10px;

}


.hero__button::after {

  content: "";

  position: absolute;

  left: 0;

  bottom: 0;

  width: 100%;

  height: 6px;

  background-color: #6c63ff;

}



/* IMAGEN */

.hero__image {

  width: 390px;

  height: 390px;

  object-fit: cover;

  border-radius: 25px;

}



/* TABLET */

@media screen and (max-width: 900px) {

  .hero {

    flex-direction: column;

    text-align: center;

    padding: 60px 24px;

  }


  .hero__buttons {

    justify-content: center;

    gap: 30px;

  }


  .hero__image {

    width: 300px;

    height: 300px;

  }

}



/* CELULAR */

@media screen and (max-width: 480px) {

  .hero__title {

    font-size: 48px;

  }


  .hero__buttons {

    flex-direction: column;

  }

}
