.page {

  background-color: #111111;

  color: #ffffff;

  min-height: 100vh;

  width: 100%;

}



.page__content {

  max-width: 1200px;

  margin: 0 auto;

  padding: 0 40px;

}



/* TABLET */

@media screen and (max-width: 900px) {


  .page__content {

    padding: 0 30px;

  }


}



/* CELULAR */

@media screen and (max-width: 480px) {


  .page__content {

    padding: 0 20px;

  }


}
